@charset "utf-8";
/* CSS Document */

/* reset */
a, abbr, acronym, address, applet, article, aside, audio,
b, blockquote, big, body,
center, canvas, caption, cite, code, command,
datalist, dd, del, details, dfn, dl, div, dt, 
em, embed,
fieldset, figcaption, figure, font, footer, form, 
h1, h2, h3, h4, h5, h6, header, hgroup, html,
i, iframe, img, ins, input, select, textarea, button
kbd, 
keygen,
label, legend, li, 
meter,
nav, menu,
object, ol, output,
p, pre, progress,
q, 
s, samp, section, small, span, source, strike, strong, sub, sup,
table, tbody, tfoot, thead, th, tr, colgroup, col, tdvideo, tt,
u, ul, 
var{ margin:0; padding:0; }
article,aside,canvas,dialog,details,eventsource,figcaption,figure,
footer,header,hgroup,menu,meter,nav,output,progress,section,
time,video{ display:block; }
fieldset,img{ border:0 none; }
img, label{vertical-align:middle;}
dl,ul,ol,menu,li{list-style:none;}
blockquote, q{quotes: none;}
blockquote:before, blockquote:after,q:before, q:after{ content:''; content:none; }
img,input,select,textarea,button,textarea{ vertical-align:middle; }
button{ border:0 none; background-color:transparent; cursor:pointer; }
legend, hr { overflow:hidden; position:absolute; top:0; left:0}
legend, hr, caption { visibility:hidden; font-size:0; width:0; height:0; line-height:0; }
address,caption,cite,code,dfn,em,var{ font-style:normal; font-weight:normal; }
a{ color:#444; text-decoration:none; }
a:link, a:visited, a:hover, a:focus, a:active{ text-decoration:none; }

.clfix:after{ content: "."; display:block; height:0px; clear:both; visibility:hidden; }
.clfix{ display:inline-block; }
.clfix{ display:block; }
* html .clfix { height:1%; } /* Hides from IE-mac */
.clfix{ zoom:1; } /*for IE 5.5-7*/

.opacity{ opacity:0; filter:alpha(opacity=0); }
.ellipsis{ overflow:hidden; white-space:nowrap; text-overflow:ellipsis; -o-text-overflow:ellipsis; }

html,body{ height:100% }
table{ width:100%; border-spacing:0; border-collapse:collapse; table-layout:fixed; word-break:break-all; }
@-moz-document url-prefix(){ table {border-collapse:separate; border-spacing:0; } } /* for FireFox */
body, input, textarea, button, select, table{ font:12px/1.4 '나눔고딕', NanumGothic dotum, '돋움', Tahoma, Sans-serif; color:#333; -webkit-text-size-adjust:none; }
h1, h2, h3, h4, h5, h6{ font-size:1em; font-family:"돋움",Dotum,AppleGothic,Tahoma,Sans-serif; }
input, button, textarea, select{ font-size:1em; font-family:"돋움",Dotum,AppleGothic,Sans-serif; }
code, pre{ font-size:1em; }
/* //reset */

/*screenReader*/
caption,legend,hr { visibility:hidden; width:0; height:0; font-size:0; line-height:0; overflow:hidden; }
.ir{ display:block; overflow:hidden; font-size:0px; line-height:0; text-indent:-9999px; }
.ir-wa{ display:block; overflow:hidden; position:relative; width:100%; height:100%; z-index:-1; }
.hidden{ display:block; overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0; line-height:0; text-indent:-9999px; }
.blind{ display:block; overflow:hidden; position:absolute; left:-9999px; width:1px; height:1px; font-size:0;line-height:0; text-indent:-9999px; }
.hide{ display:block; overflow:hidden; text-indent:-9999px; }

/* input */
.inp-txt{ border:1px solid #bbb; color:#535455; height:20px; padding:0 5px; line-height:21px; background:#fff; }
.inp-check, .inp-radio{}
textarea{ color:#535455; padding:5px; border:1px solid #bbb; line-height:1.167; resize:none;/* chrome control */ }
label { display:inline-block; *display:inline; zoom:1; vertical-align:middle; }
select{ height:24px; padding:3px 2px 3px 2px; font-size:12px; line-height:18px; border:1px solid #bbb; color:#666; vertical-align:top; }

/*skipnavi*/
#skipNavi{width:970px;position:relative;overflow:hidden;margin:0 auto}
#skipNavi a{display:block;background:#555555;font-weight:bold;width:0;height:0;font-size:0;line-height:0;margin:0 -1px -2px 0;overflow:hidden;font-size:16px;text-align:center}
#skipNavi a:hover, #skipNavi a:active, #skipNavi a:focus{height:30px;line-height:1.5;margin:0;padding-top:6px;width:auto;text-decoration:none;color:#53b0cf}

/* position */
.pos-r{ position:relative; }
.pos-a{ position:absolute; }
.pos-f{ position:fixed; }

/*float*/
.fl{ float:left !important;}
.fr{ float:right !important;}

/* align */
.align-l{ text-align:left !important; }
.align-c{ text-align:center !important; }
.align-r{ text-align:right !important; }
.align-t{ vertical-align:top; }
.align-m{ vertical-align:middle; }
.align-b{ vertical-align:bottom; }

/*font*/
.f11{ font-size:11px; }
.f12{ font-size:12px; }
.f14{ font-size:14px; }
.f16{ font-size:16px; }
.f-bold{ font-weight:bold !important; }
.f-nor{ font-weight:normal !important; }
.f-dec{ text-decoration:underline; }

/* background */
.back-non{ background:none !important; }

/* side menu */
#sideMenu{ position:absolute; top:0; right:20px; }
#sideMenu a{ display:block; width:50px; height:50px; background-color:#0C6; color:#fff; }

@font-face{
 font-family:"NanumGothic";
 src: url(../font/NanumGothic.eot),
url(../font/NanumGothic.ttf),
url(../font/NanumGothic.woff)
}

.navigation {
	position: fixed;
	z-index: 1000;
	width: 100%;
	background: #fff;
	border-bottom: 1px solid #ccc;
}
.navigation div{ overflow: hidden; width: 970px; margin: 0 auto; padding: 0 15px; }
.navigation h1{ float: left; margin-right: 50px; }
.navigation ul{ float: right; }
.navigation li {
	font-family: '맑은고딕', Malgun Gothic;
	float: left;
	width: 130px;
	padding: 47px 0 30px 0;
	font-size: 16px;
	-webkit-transition: all .2s ease-in-out;
	-moz-transition: all .2s ease-in-out;
	-o-transition: all .2s ease-in-out;
	-ms-transition: all .2s ease-in-out;
	transition: all .2s ease-in-out;
	cursor: pointer;
	text-align: center;
}
.navigation li:hover,.navigation li.active {
	color: #ba1421 !important;
	cursor: pointer;
	font-weight: bold;
}
.slide{ padding-top:100px; }
#box1{ height: 860px; }
#box1 .visual{ position: relative; overflow: hidden; height: 860px; text-align: center; }
#box1 .visual .swiper-container .img1{ background: url(../images/bg_slide1.jpg) no-repeat 50% 0; background-size: cover; text-align: center; }
#box1 .visual .swiper-container .img2{ background: url(../images/bg_slide2.jpg) no-repeat 50% 0; background-size: cover; }
#box1 .visual .swiper-container .img3{ background: url(../images/bg_slide3.jpg) no-repeat 50% 0; background-size: cover; }
#box1 .visual .swiper-pagination{ position: absolute; bottom: 20px; left: 50%; margin-left:-50px; }
#box1 .visual .swiper-pagination .swiper-pagination-bullet{ width: 12px; height: 12px; background: #ddd; margin-right: 5px; }
#box1 .visual .swiper-pagination .swiper-pagination-bullet-active{ background: #a7101c; }
#box2 .about1{ width: 1000px; margin: 0 auto; padding-top: 30px; text-align: center; }
#box2 .about2{ width: 1000px; margin: 0 auto; padding-top: 40px; font-size: 16px; text-align: center; }
#box2 .about3{ width: 1000px; margin: 0 auto; padding-top: 40px; text-align: center; }
#box2 .about4{ padding: 40px 0; background: #f3f3f3; text-align: center; }
#box2 .about4 p{ font-size: 16px; }
#box2 .about4 > div{ overflow: hidden; width: 1000px; margin: 0 auto; padding-top: 30px;  }
#box2 .about4 div.a4_2{ float: left; width: 25%; }
#box3 .work{ width: 1000px; margin: 0 auto; padding-top: 30px; padding-bottom: 40px; text-align: center; }
#box3 .work .work1{ padding-bottom: 40px; }
#box3 .work .work2{ padding-bottom: 30px; font-size: 16px; }
#box3 .work .work3{ padding-bottom: 20px; }
#box3 .work .work3 span{ padding-right: 20px; }
#box3 .work .work3 span:first-child{ padding-right: 22px; }
#box3 .work_2col{ overflow: hidden; }
#box3 .work_2col a.btn{ float: left; width: 49%; }
#box3 .work_2col span.right{ float: right; width: 49%; }
#box3 .work_btm{ background: #f3f3f3; text-align: center; }
#box3 .work_btm > div{ position: relative; width: 1000px; background: #f3f3f3; margin: 0 auto; text-align: left; padding: 40px 0; }
#box3 .work_btm > div .btn_down{ position: absolute; top: 35px; right: 0px; }
#box3 .work_btm > div p{ margin-bottom: 30px; padding-bottom: 40px; border-bottom: 1px solid #dadada; font-size: 16px; text-align: center; }
#box3 .work_btm > div .list{ overflow: hidden; width: 96%; margin: 0 auto; }
#box3 .work_btm > div .list strong{ display: block; padding-bottom: 15px; font-size: 16px; }
#box3 .work_btm > div .list ul li.fst{ float: left; width: 20%; height: 140px; background: url(../images/arrow.png) no-repeat 80% 50%; }
#box3 .work_btm > div .list ul li.fst li{ font-size: 13px; padding-bottom: 7px; }
#box4 .with{ width: 1000px; margin: 0 auto; padding-top: 30px; padding-bottom: 40px; text-align: center; }
#box4 .with > p{ padding-top: 40px; font-size: 16px; }
#box4 .with1{ width: 1000px; margin: 0 auto 70px auto; }
#box4 .width_slide{ height: 390px; background:#f3f3f3; text-align: center; padding-top: 50px; }
#box4 .width_slide > p{ padding-bottom: 40px; font-size: 16px; text-align: center; }
#box4 .width_slide .box_swiper{ position: relative; width: 1000px; margin: 0 auto; }
#box4 .width_slide .swiper-container1{ overflow: hidden; width: 90%; margin: 0 auto; }
#box5 .contact{ width: 100%; background: url(../images/bg_btm.jpg) no-repeat 50% 0; background-size: cover; text-align: center; }
#box5 .map{ height: 511px; }
#box5 .box_copyright{ overflow: hidden; width: 970px; margin: 0 auto; padding: 0 15px; }
#box5 .box_copyright .btm_left{ float: left; margin-right: 30px; }
#box5 .box_copyright .btm_right{ float: left; padding-top: 30px; }
#box5 .box_copyright .btm_right .btn_list{ float: left; }
#box5 .box_copyright .btm_right .btn_list a{ float: left; }
#box5 .box_copyright .btm_right .copyright{ clear: both; padding-top: 20px; }

.nav_list{ position: fixed; top: 50%; right: 90px; z-index: 1000; margin-top:-50px; }
.nav_list span{ display: block; width: 11px; height: 11px; margin-top: 10px; background: url(../images/nav_ic.png) no-repeat 50% 0; cursor: pointer; }
.nav_list span.on{ background: url(../images/nav_ic_on.png) no-repeat 50% 0; }
