/* ----TYPOGRAHY ---------- */
/* https://fonts.google.com/  adobe는 typekit  */
/* font-family: 'Montserrat', sans-serif; */
body {
    font-family: "Noto Sans CJK KR", "Nanum Gothic", "Noto Sans", sans-serif;
	font-size: 1rem;
	color: #1e1e1e;
    position: relative;
    height: auto;
    box-sizing: border-box;
    
}


/* font-family: 'Roboto', sans-serif;
font-family: 'Noto Sans', sans-serif; */




/* ----- LAYOUT --------- */
/* 본 사이트의 근본 틀을 잡아줌 */
/* 요소 검사를 했을때 높이가 안잡히면 안된다. */

.container {
    max-width:1200px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px;
    
    
}



/* TEXT */
/* 폰트사이즈를 먼저 잡고 폰트가 차지하는 전체 크기를 보고 패딩 값을 빼줘야한다 */

h3 {
    font-size: 2rem;
    font-weight: 600;
    letter-spacing: -0.1rem;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 40px;
    
}

h2 {
    font-family: 'Roboto', sans-serif;
    font-size: 2rem;
    font-weight: 900;
    letter-spacing: -0.1rem;
    font-family: 'Noto Sans', sans-serif;
    margin-bottom: 30px;
    background-image: url(../img/line_red.png);
    background-repeat: no-repeat;
    background-position: 0% 100%;
    padding-bottom: 13px;
}

.bold800 {
    font-weight: 900;
}

.sub_title {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.6rem;
    font-weight: 400;
    letter-spacing: -0.18rem;
    display: block;
    margin-bottom: 10px;

}



.title p {
   font-family: 'Noto Sans', sans-serif;
    color: #828282;
    font-size: 1rem;
    line-height: 1.4rem;
    
}



.red {
        color: #ac2124;
}






/* ----NAV / HEADER ---------- */
/* NAV */


/* HEADER */
/* clearfix */
    .clearfix:before, .clearfix:after{
        content:""; display:table;
    }
    .clearfix:after{
        clear:both;
    }
    .clearfix{
        *zoom:1;
    }

    /* Basic Styles */

    /* up버튼 */

    #upbtn {
        position: fixed;
        z-index: 999;
        bottom: 2%;
        right: 2%;
    }



    #header{
      position:fixed;
      z-index:999;
      top:0;
      width:100%;
      background-color: #ffffff;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    }


    nav{
        height: 40px;
        width: 100%;
        font-size: 11pt;
        position: relative;

    }
    nav ul{
        padding: 0;
        margin: 0 auto;
        width: 1200px;
        height: auto;
    }



    nav li{
        display: inline;
        float: left;
        width:120px;
    }

    nav li a{
        color: #1e1e1e;
        display: inline-block;
        width: 100%;
        padding-top: 10px;
        margin-right: 50px;
        text-align: center;
        text-decoration: none;
        line-height: 40px;
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
    }

    nav li:last-child a{
        border-bottom: 0;
        }

    nav a#pull{
        display: none;
    }


    nav .navmenu:hover{
        color: #ac2124;
        font-weight:600;
       border-top: 5px solid #ac2124;
    }


    


/* ----MAIN CONTENT ---------- */

/* 공통 */


#about {
    padding: 80px 0px;
}

.title {
    margin-bottom: 60px;
}
/* up버튼 */

#upbtn {
    position: fixed;
    z-index: 999;
    bottom: 2%;
    right: 2%;
}

        
.othercolor {
    color:#ac2124;
    font-weight: 600;
}


/* main */

/*
.main {
    margin-top: 65px;
	background:url(../img/main_image.png) no-repeat 40% center;
	background-size:cover;
    position: relative;
    height: 880px;
    max-width: 100%;
    width: 1500px;
    margin-bottom: 50px;
    margin: 0 auto;
    

}


/* main */


/* ----MAIN CONTENT ---------- */


.mainimg img {
    max-width: 100%;
}

.mainimg_m {
    display: none;
}

/* we */

.about_img p {
    text-align: center;
    margin-bottom: 0px;
}

.about_img img {
    max-width:100%;
    width:1013px;
    margin: 0 auto;
    
}


/* process */

.process {
    
    margin-bottom: 60px;
    background: #fafafa;
    overflow: hidden;
    margin-top: -150px;
    padding-bottom: 60px;
    width:100%;
    
}

.process_title {
    background-image: url(../img/title_process.png);
    background-repeat: no-repeat;
    height: 30px;
    max-width: 100%;
    width:1200px;
    margin-top: 230px;
    margin-bottom: 30px;
    
}

.process_list ul {
    overflow: hidden;
    
    
}

.process_arrow {
    display: none;
}


.ic_arrow_bottom {
    display: none;
}
.process_list img {
    max-width: 100%;
    margin-bottom: 20px;
    
}

.process_list span {
    display: none;
}


.process_list ul li {
    width:18.5%;
    margin-right: 20px;
    float: left;
  
}

.process_list ul li:last-child {
    margin-right: 0;
}



.proc_t_line_2 span {
    font-weight: 600;
}

.proc_t_line_2 .detail_list {
    display:block;


}

.proc_t_line_2 .detail_list li {
    width:100%;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 1rem;
}



/*

.process_title {
    display: flex;
    justify-content: space-around;
    width:1013px;
    max-width: 100%;
}
*/



        


/* ability */


#ability {
    padding: 80px 0px;
}




.ability_list {
    max-width: 100%;
    width:1200px;
    margin-top: -30px;

    
    
    
}


 .ability_list .solu_last_com img {
    display: block;
    float: left;
    max-width: 50%;
    width: 590px;
    height: auto;
    line-height:0;
    margin: 0px 0px 0px 0px;
    padding: 0;

    }


 .ability_list ul .solu_mokshop img{
     max-width: 50%;
     width: 590px;
     height: auto;
     margin: 0px 0px 0px 0px;
    }


/* 회사소개서 다운 포트폴리오 페이지로 이동 */

    /* 회사소개서 다운 */

.button {
    clear: both; 
    max-width: 100%;
    width:730px;
    margin: 0 auto;
    margin-bottom: 80px;
    }  

.button img {
    max-width: 100%;
    margin-bottom: 20px;
}
  
.down, move_portfolio {
    display: block;
    max-width: 350px;
    min-height: 80px;
    text-align: center;
    margin-right:20px;
    float: left;
        
    }
        
   
/* partner client */

#partner {
    padding: 80px 0px;
}
 




.partner {
    background: #fafafa;
    width:100%;
    
}



.logo {
    margin-top: -30px;
}

.logo li img {
    display: inline-block;
    float: left;
    max-width: 275px;
    width: 25%;
    height: auto;
    margin: 0px 5px 8px 5px;
    }


        
.partner .logo .logo_last img{
    display: inline-block;
    float: left;
    max-width: 275px;
    width: 250%;
    height: auto;
    margin: 0px 5px 0px 5px;

    }


/* contact */

#contact {
    padding: 80px 0px 0px 0px;
}
 
  .contact {
    overflow: hidden;
    width:100%;



        }


    .common_contact {
        margin: -30px 0px 0px 0px;
        padding: 0px 0px 0px 20px;
        width: auto;
        height: 62px;
        border-left: 2px solid #1e1e1e;
    }

    .contactbold {
        color: #1e1e1e;
        font-size: 1em;
        font-weight: 600;
        margin-right: 5px;
    }

    .common_contact p {
        font-size: 1.2em;
        font-weight: 400;
        color: #828282;
        margin-right: -15px;
        line-height: 1.4em;
        float: left;
    }



/* 서울 */

.seoul {
    max-width: 560px;
    width: 100%;
    float: left;
    margin: 0px 20px 60px 0px;
}

.seouladd {
    
    width: 100%;
    min-height: 115px;
    height: auto;
    padding: 5px 0px 0px 20px;
    margin: 20px 0px 30px 0px;
    border-left: 2px solid #e6e6e6;
    float: left;
}

.seouladd p {
    margin: 8px 0px 0px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3em;
    color: #828282;
    
}

#contact .add_en p {
    margin: 1px 0px 0px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3rem;
    color: #c8c8c8;
    
}

.seoul a img{
    max-width: 100%;
    width: auto;
    max-height: 434px;
    height: auto;
    margin: 0px 0px 0px 0px;
    clear: both;
}



/*===== 강원사무소 =======*/


.gw {
    max-width: 560px;
    width: 100%;
    float: left;
    margin: 0px 0px 60px 0px;
}


.gwadd {

    width: 100%;
    min-height: 115px;
    height: 100%;
    padding: 5px 0px 0px 20px;
    margin: 20px 0px 30px 0px;
    border-left: 2px solid #e6e6e6;
   
}

.gwadd p {
    margin: 8px 0px 0px 0px;
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.3em;
    color: #828282;

    
}

.gw a img{
    
    max-width: 100%;
    width: auto;
    max-height: 434px;
    height: auto;
    margin: 0px 0px 0px 0px;
    clear: both;
}




/* ----FOOTER ---------- */


footer .footercontent {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;

    }

.footercontent .content {
    float: left;
    color: white;
    padding: 0px 10px;
    color: #ffffff;
    margin: 10px 0px;
    font-size: 0.9em;
    }

.footercontent .copyright {
    float: right;
    color: white;
    padding: 0px 10px;
    color: #ffffff;
    font-size: 0.9em;
    margin: 10px 0px;
    }

footer {
    clear: both;
    display: flex;
    flex-direction: column;
    background: #1e1e1e;
    width: 100%;
    line-height: 0px;
    }

footer p {
    line-height: 1rem;
}






 @media only screen and (min-width: 1200px){

    /*=== 공통 ===*/

    .logo2{
      margin:0;
      margin-right: 20%;
      vertical-align: center;
      display: block;
      float: left;
      padding: 12px;
     /* transition:  .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -webkit-transition: .25s ease-in-out; 
    */
    }




    /*======= header ===========*/

   
        
        
        /*
    .menu_active{
        color: #ac2124;
        border-top: 5px solid #ac2124;
    } 
    */
        
        
    .logo2{
      margin-top: 0px;
    
      display: block;
      float: left;
      padding: 0px;
     /* transition:  .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -webkit-transition: .25s ease-in-out; 
    */
    }

    .logo2 img {
        width: 70px;
        padding: 0px 0px 0px 5px;
        float: left;
        margin: 14px 100px 12px 5px;
    }   

    .container {
    max-width:1200px;
    width:100%;
    margin: 0 auto;
    box-sizing: border-box;
    padding: 0px 20px;
    
    
}
        }
















  
    
    /* 720 */

    @media only screen and (min-width:760px) and (max-width:1199px){

    /* 공통 */
        
        
    logo2{
      margin:0;
      margin-right: 20%;
      vertical-align: center;
      display: block;
      float: left;
      padding: 12px;
     /* transition:  .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -webkit-transition: .25s ease-in-out; 
    */
    }






    /*======= header ===========*/

    nav {
            height: 80px;
            border-bottom: 0;
            height: auto;
        }
        nav ul {
            display: none;
            height: auto;
        }
        nav a {
            text-align: left;
            width: 100%;
            text-indent: 25px;
        }
        nav a#pull {
            display : block;
            background-color: #ffffff;
            width: 100%;
            position: relative;


        }

        nav a#pull:after {
            content:"";
            background: url('../img/nav-icon.png') no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 32%;
        }
        nav li {
            display: block;
            float: none;
            width: 100%;
            background: #ffffff;
            border-top: 1px solid #f0f0f0;
        }
        nav li a {
            margin-left: 0px;
            margin-top: -5px;
            text-align: left;
            padding-bottom: 4px;

        }

        #pull img {
            width: 70px;
            margin-top: 10px;
            padding-top: 5px;
            margin-left: 0px;
            padding-bottom: 10px;
        }

        nav li:last-child a{
        border-bottom: 0;
        margin-top: -5px;
        padding-bottom: 5px;
        }



       nav .navmenu:hover{
        color: #ac2124;
        font-weight:600;
       border-top: none;
    }

   


    .logo2 {
      width: 0px;
      margin:0;

      vertical-align: center;
      display: none;
      float: left;

     /* transition:  .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -webkit-transition: .25s ease-in-out; 
    */
        }


        
        
/* main */
        

        
        
 
/* process */
        
.proc_t_line_2 .detail_list li {
    width:80%;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 0.8rem;
}


  .process_list ul li {
    width:17.7%;
    margin-right: 20px;
    float: left;
  
}
      
        
/* client */
        

.logo li img {
    max-width: 330px;
    min-width: 50px;
    width:31.7%;

    }


        
.partner .logo .logo_last img{
    max-width: 330px;
    min-width: 50px;
    width:31.7%;

    }






}

   
@media only screen and (max-width:759px){


    /*======= header ===========*/

    nav {
            border-bottom: 0;
            height: auto;
        }
        nav ul {
            display: none;
            height: auto;
            background-color: #ffffff;
        }
        nav a {
            text-align: left;
            width: 100%;
            text-indent: 25px;
        }
        nav a#pull {
            display: block;
            background-color: #ffffff;
            width: 100%;
            position: relative;
            /*box-shadow: -5px 0px 10px 0px rgba(0, 0, 0, 0.1); */

        }

        nav a#pull:after {
            content:"";
            background: url('../img/nav-icon.png') no-repeat;
            width: 30px;
            height: 30px;
            display: inline-block;
            position: absolute;
            right: 15px;
            top: 32%;

        }
        nav li {
            display: block;
            float: none;
            width: 100%;
            border-top: 1px solid #f0f0f0;
        }
        nav li a {
            margin-left: 0px;
            margin-top: -5px;
            padding-bottom: 4px;
            text-align: left;

        }
        #pull img {
            width: 70px;
            margin-top: 10px;
            padding-top: 5px;
            padding-bottom: 10px;
            margin-left: 0px;
        }

        nav li:last-child a{
        border-bottom: 0;
        margin-top: -5px;
        padding-bottom: 4px;

        }


       nav .navmenu:hover{
        color: #ac2124;
        font-weight:600;
       border-top: none;
    }

   

      
    .logo2 img{
      width: 0px;
      margin:0;
      vertical-align: center;
      display: block;
      float: left;

     /* transition:  .25s ease-in-out;
      -moz-transition: .25s ease-in-out;
      -webkit-transition: .25s ease-in-out; 
    */
       }


      
/* main */
.mainimg img {
    display: none;
}
      
.mainimg_m {
    display: block;


      }
.mainimg_m img {
     max-width: 100%;     
      }
      
      
      
      

      
      
      
      
      
/* process */

.process {
    margin-bottom: 60px;
    background: #fafafa;
    overflow: hidden;
    margin-top: -40px;
    padding-bottom: 60px;
    width:100%;
    
}

.process_title {
    background-image: url(../img/title_process.png);
    background-repeat: no-repeat;
    height: 30px;
    max-width: 100%;
    width:1200px;
    margin-top: 90px;
    margin-bottom: 30px;
 
    
}

.process_list ul {
    display: block;
    
    
}
      

      
.process_list span {
    display: block;
    text-align: left;
    background: #ffffff;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 20px;
    
}
      
.proc_t_line_2 span {
    display: block;
    text-align: left;
    background: #ffffff;
    padding: 20px 0px 20px 20px;
    border-bottom: 1px solid #c8c8c8;
    margin-bottom: 0px;
    font-weight: 600;
    
}
      
.detail_list {
    background: #ffffff;
    padding: 20px 0px;
    margin-bottom: 20px;
      }
      
   
      

.process_list img {
    display: none;
    
}


.process_list ul li {
    width:100%;
    margin-right: 0px;
   
}
      


.process_list ul li:last-child {
    margin-right: 0;
}



.proc_t_line_2 .detail_list {
    display:block;


}

.proc_t_line_2 .detail_list li {
    width:100%;
    margin-bottom: 20px;
    padding-left: 20px;
    font-size: 1rem;
}


    
/* ability */



      
      
.ability_list .solu_last_com img {
     display: block;
     max-width: 100%;
     width:100%;
     height: auto;
     line-height:0;

    
}


 .ability_list ul .solu_mokshop img{
     max-width: 100%;
     width:100%;
     height: auto;
     margin: 0px 0px 0px 0px;
    }
      

    /* 회사소개서 다운 */

.button {
    clear: both; 
    max-width: 100%;
    width:350px;
    margin: 0 auto;
    margin-bottom: 50px;

    }  


.down, .move_portfolio {
    display: block;
    max-width: 350px;
    min-height: 80px;
    text-align: center;
    margin-right:0px;
    padding:0px 20px;
        
    }
  
      
.logo li img {

    width:47%;


      }


        
.partner .logo .logo_last img{

    width:47%;

    }


.common_contact, .seouladd, .gwadd {
    padding-left: 10px;
}    
    


    
 .common_contact p {
    font-size: 1rem;
}    
    
    
    
.seoul p{
    padding-right: 20px;


}
    
    
    
    
    
.gw p {
    padding-right: 20px;
}        


      
      

}

       
